<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Olá nome!</title>
</head>
<body>

    <form method="POST" action="helloName">

        <label for="nomeLabel"> Nome: </label>
        <input type="text" name="nomeInput" id="nomeInput" placeholder="Digite seu nome">
        </br>
        </br>
        <label for="emailLabel"> E-mail: </label>
        <input type="text" name="emailInput" id="emailInput" placeholder="Digite seus e-mail">
        </br>
        </br>
        <input type="submit" value="ENVIAR">

    </form>

</body>
</html>